#container {
    width: 70%;
    display: inline-block;
    font-size: 16px;
    padding-bottom: 40px;
    margin-left: 20px;
}
.secProdutos {
    width: 20%;
    text-align: center;
    display: inline-block;
    margin: 10px;
}
.imgProduto {
    width: 120px;
    cursor: pointer;
}
.precoDestaque {
    font-size: 22px;
    color: red;
}
.btnComprar {
    background-color: #0099cc;
    background-image: linear-gradient(160deg, #0099cc 0%, #000000 100%);
    width: 10vw;
    height: 6vh;
    font-weight: 600;
    font-size: 22px;
    color: white;
    border: 0;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.btnComprar a {
    text-decoration: none !important;
    color: white !important;
    text-align: center;
}