main {
    margin: 20px;
}
#pgInicial {
    background-color: rgba(0, 154, 204, 0.2);
    margin: 0px;
    padding: 20px;
    background-image: url("../imagens/equipamentos-descontos.png");
    background-attachment: fixed;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: hue;
}
#bemVindo {
    padding: 60px;
    font-size: 20px;
    text-align: left;
}
article{
    border-color: 2px solid firebrick;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    flex-direction: row; 
}
#card-bast div {
    background-color: dodgerblue !important;
}
.sold{
    display: inline-block;
    text-align: center;
}
.sold img {
    width: 150px !important;
}